html {
  background-color: aqua;
}
body {
  text-align: justify;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  font-family: comic sans ms;
  font-size: 60px;
  color: darkblue;
}
h3 a {
  color: indigo;
}
h4 {
  text-align: right;
  font-style: italic;
}
